<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div>
    <label for="email">
        <input 
        type="text" 
        id="email" 
        formControlName="email"
        placeholder="email"
        >
    </label>
    <label for="mdp">
        <input 
        type="text" 
        id="mdp" 
        formControlName="password"
        placeholder="mot de passe"
        >
    </label>
    <button type="submit" [disabled]="loginForm.invalid" >Connecte</button>
</div>
</form>