<div class="profile-view-container">
    <div class="card">
      <form class="search-container" [formGroup]="search">
        <span class="search-title">Recherche</span>
        <div class="field">
          <label for="name" class="floating">Nom</label>
          <input type="text" id="name" formControlName="name">
        </div>
        <div class="field">
          <label for="date" class="floating">Date</label>
          <input type="text" id="date" formControlName="date">
        </div>
        <div class="field">
          <label for="type" class="floating">Type</label>
          <input type="text" id="type" formControlName="type">
        </div>
        <div class="field">
          <label for="rate" class="floating">Rate</label>
          <input type="text" id="rate" formControlName="rate">
        </div>
      </form>
    </div>
    <div class="card">
      <table>
        <tr>
          <th>Nom</th>
          <th>Date</th>
          <th>Type</th>
          <th>Rate</th>
        </tr>
        <tr *ngFor="let film of film$ | async">
          <td>{{ film.name }}</td>
          <td>{{ film.date }}</td>
          <td>{{ film.type }}</td>
          <td>{{ film.rate }}</td>
        </tr>
      </table>
    </div>
  </div>

  










































































































































































































































































































































































































































































































































































































  